<%= if @state.user_gesture == false do %>
  <div id="user-gesture">
    <button class="connect-midi" phx-click="user_gesture" phx-value="true">
      Connect MIDI devices
    </button>
  </div>
<% end %>
